html,
body {
  scroll-behavior: smooth;
  font-family: 'inter', 'sans-serif';
}

section,
div {
  scroll-margin-top: 100px;
}

.gradient {
  background: linear-gradient(93.82deg, #3affad 0.05%, #0091ff 103.96%);
}
